.form-control {
  width: 30%;
}

.special {
  width: 80%;
}

body {
  background-color: lightgrey;
}



td, th {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  padding-left: 10px;
  padding-right: 10px;
}

#placeSearch {
  border-style: solid;
  border-width: thin;
  width: 35%;
  padding-left: 10px;
}

#formDiv {
  border-left: 100px;
}
